/* 
    Document   : template
    Created on : 07-Mar-2012, 14:51:17
    Author     : mat
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {

    background-color:#13314d;
}


root { 
    display: block;
}

.container {
    background-color:#ffffff; 
}

#big_menu {
    width:100%;
    display:block;
    position: relative;
   
    background: #0076ad;
    height:100%;
    margin-left:0px;
    padding-top:30px;
    padding-bottom:0px;
    border-bottom:solid #03add7 15px;
}
#big_menu h1 {
    text-align: center;
    display:block;
    position: relative;
    color:#62b8c0;
    margin-bottom:5px;
}
#big_menu a{
   text-decoration: none;
    color:#62b8c0;
}
#big_heading {
     width:100%;
    display:block;
    position: relative;
    background-color: #141414;
    height:100%;
    margin-left:0px;
    padding-top:5px;
    padding-bottom:5px;
    color:#aaa;
}
#big_heading h2 {
    font-size:30px;
    color:#0076ad;
}

#top_heading {
     width:100%;
    display:block;
    position: relative;
    color:#ffffff;
    background-color: #141414;
    height:100%;
    margin-left:0px;
    padding-top:10px;
    padding-bottom:10px;
   
}
#top_heading h2 {
      color:#ffffff;
      font-weight: normal;
       padding-left:20px;
}

#footer_block {
      width:100%;
    display:block;
    position: relative;
    color:#ffffff;
      background-color: #141414;
      margin-left:0px;
    padding-top:10px;
    padding-bottom:10px;
}

#closequote {
    text-align:right;
}
#quote {
    padding-left:25px;
}

#greybox {
    background:#989898;
    margin-left:0px;
    padding-left:10px;
     margin-right:0px;
      padding-right:10px;
}
#greybox h3 {
    color:#fff;
    font-size: 23px;
}
#greybox h2 {
    color:#fff;
   
}
.main_links {
    text-align: center;
}


#accident_mega, #advice_mega, #compensation_mega, #claim_mega{
    background-color: #344453;
    

    color: #fff;
    
    padding:5px 10px;
    margin:0px;
    border-top:3px solid #03add7;
    border-bottom:0px solid #3d77c0;
    line-height:14px;
}